*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    font-family:Arial,sans-serif;
    background:#f5f7fa;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#0f766e;
    color:white;
    padding:25px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:12px 0;
}

.main{
    flex:1;
    padding:30px;
}

@media(max-width:768px){

    body{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        min-height:auto;
    }
}
